//Tamaños
$font-size: medium;
$bodycolor: #fafafa;

//Carrusel
$primary-color: #007bff;
$caption-color: #fff;
$caption-background: rgba(0, 0, 0, 0.7);

$heading-font: "Helvetica Neue", Arial, sans-serif;
$paragraph-font: "Arial", sans-serif;
